<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>home</title>
</head>
<body>

	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body mb-5">

				<div class="container text-center">
					<h4 class="mt-3">Account Added Successfully with following
						details !!</h4>
					<h6>
						Customer Id : <span class="bg-text-color" th:text="${customer.id}">
						</span>
					</h6>
					
					<h6>
						Account number : <span class="bg-text-color"
							th:text="${account.accountNumber}"> </span>
					</h6>
					<h6>
						Account Type : <span class="bg-text-color"
							th:text="${account.accountType}"> </span>
					</h6>

				</div>

			</div>
		</div>

	</section>

</body>
</html>